<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drock.n_corder">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.AndroidSensorListActivity"
            android:label="@string/title_activity_android_sensors"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.drock.n_corder.MainActivity" />
        </activity>
        <activity
            android:name=".IOIO.ConnectIOIOActivity"
            android:label="@string/title_activity_connect_ioio"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true"  >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.drock.n_corder.MainActivity" />
        </activity>
        <activity
            android:name=".OnboardSensorActivity"
            android:label="@string/title_activity_onboard_sensor"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.AndroidSensorListActivity" />
        </activity>
        <activity
            android:name=".DataViewActivity"
            android:label="@string/title_activity_data_view"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ViewTypeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.drock.n_corder.ViewTypeActivity" />
            <!--
              ATTENTION: This intent was auto-generated. Follow instructions at
              https://g.co/AppIndexing/AndroidStudio to publish your Android app deep links.
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--
                  ATTENTION: This data URL was auto-generated. We recommend that you use the HTTP scheme.
                  TODO: Change the host or pathPrefix as necessary.
                -->
                <data
                    android:host="n_corder.drock.example.com"
                    android:pathPrefix="/dataview"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <service
            android:name=".IOIO.IOIOAccessService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".android.AndroidSensorService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".android.AndroidSensorConfigurationActivity"
            android:label="@string/title_activity_android_sensor_configuration"
            android:parentActivityName=".android.AndroidSensorListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.AndroidSensorListActivity" />
        </activity>
        <activity
            android:name=".IOIO.IOIOConfigureConnectionActivity"
            android:label="@string/title_activity_ioioconfigure_connection"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.drock.n_corder.MainActivity" />
        </activity>
        <activity
            android:name=".IOIO.IOIOSensorConfigurationActivity"
            android:label="@string/title_activity_ioiosensor_configuration"
            android:parentActivityName=".IOIO.IOIOConfigureConnectionActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IOIO.IOIOConfigureConnectionActivity" />
        </activity>
        <activity
            android:name=".ViewTypeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
        />
        <activity
            android:name=".DisplayUnitSettingsActivity"
            android:label="Units Settings"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".DisplayUnitTypeSettingActivity"
            android:label="Unit Settings"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
